{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Personefisiche</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Cognome</th>
                <td>{{ entity.cognome }}</td>
            </tr>
            <tr>
                <th>Sesso</th>
                <td>{{ entity.sesso }}</td>
            </tr>
            <tr>
                <th>Natoil</th>
                <td>{{ entity.natoil|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Decedutoil</th>
                <td>{{ entity.decedutoil|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comunedinascita</th>
                <td>{{ entity.comunedinascita }}</td>
            </tr>
            <tr>
                <th>Codicefiscale</th>
                <td>{{ entity.codicefiscale }}</td>
            </tr>
            <tr>
                <th>Statocivile</th>
                <td>{{ entity.statocivile }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personefisiche') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personefisiche_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('personefisiche_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
