{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Librettipersonalimessaggi list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Fattoil</th>
                <th>Messaggio</th>
                <th>Tipomessaggio</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('librettipersonalimessaggi_show', { 'id': entity.id }) }}">{{ entity.fattoil }}</a></td>
                <td>{{ entity.messaggio }}</td>
                <td>{{ entity.tipomessaggio }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('librettipersonalimessaggi_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('librettipersonalimessaggi_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('librettipersonalimessaggi_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
