{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Loglezioni list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Logtimestamp</th>
                <th>Giorno</th>
                <th>Periododilezione</th>
                <th>Descrizione</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('loglezioni_show', { 'id': entity.id }) }}">{{ entity.logtimestamp }}</a></td>
                <td>{% if entity.giorno %}{{ entity.giorno|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.periododilezione }}</td>
                <td>{{ entity.descrizione }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('loglezioni_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('loglezioni_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('loglezioni_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
