{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Classi</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Sezione</th>
                <td>{{ entity.sezione }}</td>
            </tr>
            <tr>
                <th>Annodicorso</th>
                <td>{{ entity.annodicorso }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ entity.descrizione }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('classi') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classi_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('classi_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
