{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Anniscolastici</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Descrizione</th>
                <td>{{ entity.descrizione }}</td>
            </tr>
            <tr>
                <th>Inizioannoscolastico</th>
                <td>{{ entity.inizioannoscolastico|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Finelezioni</th>
                <td>{{ entity.finelezioni|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('anniscolastici') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('anniscolastici_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('anniscolastici_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
