{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Personegiuridiche</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Partitaiva</th>
                <td>{{ entity.partitaiva }}</td>
            </tr>
            <tr>
                <th>Codicefiscale</th>
                <td>{{ entity.codicefiscale }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personegiuridiche') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personegiuridiche_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('personegiuridiche_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
